---
layout: cv
permalink: /cv/
title: CV
---

<small class="live-link">Last updated in <time datetime="{{ site.time }}">{{ site.time | date: '%B %Y'}}</time>. Get the latest version at <a href="{{ '/cv' | absolute_url }}">johndcobb.github.io/cv/</a>.</small>

<section class="container">
    
  
  <span><h1><a href="{{ absolute_url }}/">John D. Cobb</a></h1></span>
  <span class="header-columns">
    <div> PhD Student at University of Wisconsin-Madison </div> 
    <div>
        <a href="mailto:jcobb2@math.wisc.edu" style="margin-left:0.6em"><i class="fas fa-envelope" aria-hidden="true"></i> jcobb2@math.wisc.edu</a> 
        <a href="{{ absolute_url }}/"><i class="fas fa-home" style="margin-left:0.6em" aria-hidden="true"></i> https://www.math.wisc.edu/~jcobb2</a>
        <a href="https://github.com/johndcobb"><i class="fab fa-github" style="margin-left: 0.6em" aria-hidden="true"></i> johndcobb</a>
    </div> 
  </span>


  <div class="line-container">
    <h2>Education</h2> 
    <span class="line"></span>
  </div>

  {% for ed in site.data.education %}
  <article>
    <div class="date-container">
      <span class="date">{{ ed.years | replace: "-", "–" }}</span>
      <h3>{{ ed.university }}<br>
      <span style="font-variant:small-caps">{{ ed.degree }}</span>
      </h3>
      <span class="right">{{ ed.location }}</span>
    </div>
    <p>
      {% for des in ed.description %}
        <span>{{ des | markdownify | remove: '<p>' | remove: '</p>' }}</span>{% unless forloop.last %}<br/>{% endunless %}
      {% endfor %}
    </p>
  </article>
  {% endfor %}


  <div class="line-container">
    <h2>Honors & Awards</h2>
    <span class="line"></span>
  </div>

  {% for award in site.data.awards %}
  <article>
    <div class="date-container">
      <span class="date">{{ award.years | replace: "-", "–" }}</span>
      <h3>{{ award.name }}</h3>
      <span class="right">{{ award.sponsor }}</span>
    </div>
    <p>
      {{ award.description }}
    </p>
  </article>
  {% endfor %}


  <div class="line-container">
    <h2>Publications <a href="{{ '/publications/' | absolute_url }}">[Interactive Version]</a></h2>
    <span class="line"></span>
  </div>

  {% assign types = "Journal|Thesis|Preprint" | split: "|" %}
  {% for type in types %}
    {% assign counter = 1 %}
    {% for pub in site.data.publications %}
      {% if pub.type[0] == type %}
        {% assign counter = counter | plus: 1 %}
      {% endif %}
    {% endfor %}

    <h3 class="pub-type">
      {{ type }}
    </h3>

    {% for pub in site.data.publications %}
      {% if pub.type[0] == type %}
        {% assign counter = counter | minus: 1 %}
        <article class="cv-pub">
          <div class="ref-container">{{ type | slice: 0 }}{{ counter }}</div>
          <h4>{% if pub.pdf %}<a href="{{ pub.pdf }}">{{ pub.title }}</a>{% else %}{{ pub.title }}{%endif%}</h4>
          <div>
            {% for author in pub.authors %}{% include person person=author %}{% unless forloop.last %}, {% endunless %}{% endfor %}.
            {% if pub.venue or pub.description %}<i>{% if pub.description %}{{ pub.description | markdownify | remove: '<p>' | remove: '</p>' }}{% endif %}{{ pub.venue }}</i>{% if pub.venue %},{% endif %} {% endif %}{{ pub.year }}.
            {% for award in pub.awards %}<br/><strong class="award"><i class="fas fa-{% if award == "Best Paper Award" %}trophy{% else %}award{% endif %}" aria-hidden="true"></i> {{ award }}</strong>{% endfor %}
          </div>
        </article>
      {% endif %}
    {% endfor %}
  {% endfor %}


  <div class="line-container">
    <h2>Talks  <a href="{{ '/talks/' | absolute_url }}">[Interactive Version]</a></h2>
    <span class="line"></span>
  </div>


  {% assign talktitles = site.data.talks | group_by:"title" %}
  {% for title in talktitles %}{% if title.items[0].hide == nil%}
  <article>
    <h3 class="cv-talk-title">{{ title.name }}</h3>
    {% assign sorted_talks = title.items | sort: 'date' | reverse %}
    {% for talk in sorted_talks %}
      <div class="date-container">
        <time datetime="{{ talk.date }}">{{ talk.date | date: "%b %Y" }}</time>
        <span class="fill">{{ talk.location }}{% if talk.city %}, <small class="muted">{{ talk.city }}</small>{% endif %}</span>

      </div>
    {% endfor %}
  </article>
  {% endif %}{% endfor %}

  <div class="line-container">
    <h2>Research Experience</h2> 
    <span class="line"></span>
  </div>

  {% for pos in site.data.positions %}
  <h3>{{ pos.title }}{% if pos.company %} at {{pos.company}}{% endif %}</h3>
  <article>
    <div class="date-container">
      <span class="date">{{ pos.years | replace: "-", "–"  }}</span>
      <span style="flex: 1">{{ pos.description | markdownify }}</span>
      <span class="right">{{ pos.location }}</span>
    </div>
    <p>
      {% if pos.mentors %}
        Mentor{% if pos.mentors.size > 1 %}s{% endif %}: {% for mentor in pos.mentors %}
          {% include person person=mentor %}{% unless forloop.last %}, {% endunless %}
        {% endfor %}<br/>
      {% endif %}
      {% if pos.skills %}
      <small class="muted">[{% for skill in pos.skills %}{{ skill }}{% unless forloop.last %}, {% endunless %}{% endfor %}]</small>
      {% endif %}
    </p>
  </article>
  {% endfor %}


  <div class="line-container">
    <h2>Teaching Experience</h2>
    <span class="line"></span>
  </div>

  {% assign coursetitles = site.data.teaching | group_by: "title" %} 
  {% for title in coursetitles %}
  {% assign recentcourse = title.items[-1] %}
  <article>
    <h3>{{ title.name }}</h3> 
    <div class="date-container">
      <span class="date"> {% for class in title.items %} {{ class.year | replace: "-", "–"  }} <br> {% endfor %} </span>
      <span style="flex: 1"> {{ recentcourse.role }}. {{ recentcourse.roledescription}} </span>
      <span class="right">{{ recentcourse.location }}</span>
    </div>
    <br/>
  </article>
  {% endfor %}

  <div class="line-container">
    <h2>Service & Organization</h2>
    <span class="line"></span>
  </div>

  {% for service in site.data.service %}
  <h3>{{ service.title }} at {{ service.at }}</h3>
  <article>
    <div class="date-container">
      <span class="date">{{service.years | replace: "-", "–" }}</span>
      <span style="flex: 1">{{ service.description | markdownify }}</span>
      <span class="right">{{ service.location }}</span>
    </div>
  </article>
  {% endfor %}

  <div class="line-container">
    <h2>Extracurricular</h2>
    <span class="line"></span>
  </div>

  {% for hobby in site.data.extracurricular %}
  <h3>{{ hobby.title }} at {{ hobby.at }}</h3>
  <article>
    <div class="date-container">
      <span class="date">{{hobby.years | replace: "-", "–" }}</span>
      <span style="flex: 1">{{ hobby.description | markdownify }}</span>
      <span class="right">{{ hobby.location }}</span>
    </div>
  </article>
  {% endfor %}

</section>
