---
layout: cv
permalink: /cv/
title: CV
---

<small class="live-link">Last updated in <time datetime="{{ site.time }}">{{ site.time | date: '%B %Y'}}</time>. Get the latest version at <a href="{{ '/cv' | absolute_url }}">johndcobb.github.io/cv/</a>.</small>

<section class="container">
  <div class="button-container">
    <span id="print-button" class="button" onclick="window.print()">
    <i class="fas fa-print" aria-hidden="true"></i>
    Print
    </span>
  </div><br>
  
  <span><h1><a href="{{ absolute_url }}/">John D. Cobb</a></h1></span>
  <span class="header-columns">
    <div hidden> PhD Student at University of Wisconsin-Madison </div> 
    <div>
        <a href="mailto:jdcobb3@gmail.com" style="margin-left:0.6em"><i class="fa-solid fa-envelope" aria-hidden="true"></i> jdcobb3@gmail.com</a> 
        <a href="{{ absolute_url }}/"><i class="fa-solid fa-globe" style="margin-left:0.6em" aria-hidden="true"></i> https://github.com/johndcobb</a>
        <a href="https://github.com/johndcobb"><i class="fab fa-github" style="margin-left: 0.6em" aria-hidden="true"></i> johndcobb</a>
    </div> 
  </span>
  <span class="header-columns">
    <b>Research Interests:</b> Algebraic geometry, commutative algebra, and their applications to data science.
  </span>

  <div class="line-container">
    <h2>Employment</h2> 
    <span class="line"></span>
  </div>

  {% for em in site.data.employment %}
  <div class="date-container">
    <span class="date">{{ em.years | replace: "-", "–" }}</span>
    <h3>{{ em.university }}<br>
    <span style="font-variant:small-caps">{{ em.position }}</span>
    </h3>
    <span class="right">{{ em.location }}</span>
  </div>
  <p>
    {% for des in em.description %}
      <span>{{ des | markdownify | remove: '<p>' | remove: '</p>' }}</span>{% unless forloop.last %}<br/>{% endunless %}
    {% endfor %}
  </p>
  {% endfor %}

  <div class="line-container">
    <h2>Education</h2> 
    <span class="line"></span>
  </div>

  {% for ed in site.data.education %}
  <div class="date-container">
    <span class="date">{{ ed.years | replace: "-", "–" }}</span>
    <h3>{{ ed.university }}<br>
    <span style="font-variant:small-caps">{{ ed.degree }}</span>
    </h3>
    <span class="right">{{ ed.location }}</span>
  </div>
  <p>
    {% for des in ed.description %}
      <span>{{ des | markdownify | remove: '<p>' | remove: '</p>' }}</span>{% unless forloop.last %}<br/>{% endunless %}
    {% endfor %}
  </p>
  {% endfor %}

  <div class="line-container">
    <h2>Awards & Grants</h2>
    <span class="line"></span>
  </div>

  {% assign awards = site.data.awards | concat: site.data.grants | sort: 'years' | reverse %}
  {% for award in awards %}{% if award.hide == nil %}
  <div class="date-container">
    <span class="date">{{ award.years }}</span>
    <span class="fill">{{ award.name }}{% if award.sponsor %}, <small class="muted"> <em>{{ award.sponsor }}</em> </small>{% endif %}</span>
    {% if award.link or award.article %}
    <div class="extra-links">
      {% if award.link %}
        <a href="{{ award.link }}">
          <i class="fas fa-link" aria-hidden="true"></i> Project
        </a>
      {% endif %}
      {% if award.article %}
        <a href="{{ award.article }}">
          <i class="fas fa-newspaper" aria-hidden="true"></i> Article
        </a>
      {% endif %}
    </div>
  {% endif %} 
  </div>
  {% if award.short-description %}
  <div class="date-container">
    <span class="date"></span>
    <span class="fill"> <small> {{ award.short-description }} </small></span>
  </div>
  {% endif %}
  {% endif %}
  {% endfor %}

  {% comment %}
  <div class="line-container">
    <h2>Honors & Awards</h2>
    <span class="line"></span>
  </div>
  {% for award in site.data.awards %}{% if award.hide == nil %}
  <article>
    <div class="date-container">
      <span class="date">{{ award.years | replace: "-", "–" }}</span>
      <h3>{{ award.name }}</h3>
      <span class="right">{{ award.sponsor }}</span>
    </div>
    <div>
      {{ award.description }}
      {% if award.link or award.article %}
      <div class="extra-links">
        {% if award.link %}
          <a href="{{ award.link }}">
            <i class="fas fa-link" aria-hidden="true"></i> Project
          </a>
        {% endif %}
        {% if award.article %}
          <a href="{{ award.article }}">
            <i class="fas fa-newspaper" aria-hidden="true"></i> Article
          </a>
        {% endif %}
      </div>
    {% endif %}
    </div>
    <br>
    
  </article>
  {% endif %}
  {% endfor %}
  {% endcomment %}


  {% comment %}
  {% for grant in site.data.grants %}
  {% if grant.hide==nil %}
  <h3>{{ grant.name }}</h3>
  <article>
    <div class="date-container">
      <span class="date">{{grant.years | replace: "-", "–" }}</span>
      <span style="flex: 1">{{ grant.description | markdownify }}</span>
    </div>
  </article>
  {% endif %}
  {% endfor %}
  {% endcomment %}


  <div class="line-container">
    <h2>Papers <a href="{{ '/publications/' | absolute_url }}">[Interactive Version]</a></h2>
    <span class="line"></span>
  </div>

  {% assign types = "Journal|Preprint" | split: "|" %}
  {% for type in types %}
    {% assign counter = 1 %}
    {% for pub in site.data.publications %}
      {% if pub.type[0] == type %}
        {% assign counter = counter | plus: 1 %}
      {% endif %}
    {% endfor %}
    
    <h3 class="pub-type">
      {{ type }}
    </h3>

    {% for pub in site.data.publications %}
      {% if pub.type[0] == type %}
        {% assign counter = counter | minus: 1 %}
        <div class="cv-pub">
          <div class="ref-container">{{ type | slice: 0 }}{{ counter }}</div>
          <h4>{% if pub.pdf %}<a href="{{ pub.pdf }}">{{ pub.title }}</a>{% else %}{{ pub.title }}{%endif%}</h4>
          <div>
            {% for author in pub.authors %}{% include person person=author %}{% unless forloop.last %}, {% endunless %}{% endfor %}.
            {% if pub.venue %}<i>{{ pub.venue }}</i>,{% endif %} {{ pub.year }}.
            {% for award in pub.awards %}<br/><strong class="award"><i class="fas fa-{% if award == "Best Paper Award" %}trophy{% else %}award{% endif %}" aria-hidden="true"></i> {{ award }}</strong>{% endfor %}
          </div>
        </div>
      {% endif %}
    {% endfor %}
  {% endfor %}


  <div class="line-container">
    <h2>Talks  <a href="{{ '/talks/' | absolute_url }}">[Interactive Version]</a></h2>
    <span class="line"></span>
  </div>

  {% assign talktypes = site.data.talks | group_by:"type" %}
  {% for type in talktypes %}{% if type.items[0].hide == nil %}
  {% assign talkyears = type.items | group_by_exp: "talk", "talk.date | date: '%Y'" %}
  <h3 class="pub-type">{{ type.name }}</h3>
  {% for year in talkyears %}

  {% assign sorted_talks = year.items %}
  {% for talk in sorted_talks %}{% if talk.hide==nil%}
  <div class="date-container">
    {% if forloop.first %} <time datetime="{{ talk.date }}">{{ talk.date | date: "%Y %b" }}</time> {% else %} <time datetime="{{ talk.date }}">{{ talk.date | date: "%b" }}</time> {% endif %} 
    <span class="fill">{{ talk.location }}{% if talk.city %}, <small class="muted">{{ talk.city }}</small>{% endif %}</span>
  </div>
  {% endif %} {% endfor %}
  {% endfor %}
  {% endif %}
  {% endfor %}

  {% comment %}
  {% assign talktitles = site.data.talks | group_by:"title" %}
  {% for title in talktitles %}{% if title.items[0].hide == nil %}
    <h3>{{ title.name }}</h3>
    {% assign sorted_talks = title.items | sort: 'date' | reverse %}
    {% for talk in sorted_talks %}
      <div class="date-container">
        <time datetime="{{ talk.date }}">{{ talk.date | date: "%Y %b" }}</time>
        <span class="fill">{{ talk.location }}{% if talk.city %}, <small class="muted">{{ talk.city }}</small>{% endif %}</span>
      </div>
  {% endfor %}
  {% endif %}{% endfor %}
  {% endcomment %}

  {% comment %}
  {% for talk in site.data.talks %}{% if talk.hide == nil %}
    <div class="date-container">
      <time datetime="{{ talk.date }}">{{ talk.date | date: "%Y %b" }}</time>
      <span class="fill">{{ talk.location }}{% if talk.city %}, <small class="muted"> <em>{{ talk.city }}</em> </small>{% endif %}</span>
    </div>
  {% endif %}{% endfor %}
  {% endcomment %}


  <div class="line-container">
    <h2>Teaching</h2>
    <span class="line"></span>
  </div>

  {% assign coursetitles = site.data.teaching | group_by: "title" %} 
  {% for title in coursetitles %}
  {% assign recentcourse = title.items[-1] %}
  <div class="no-break">
    <h3 style="margin-left: 90px">{{ title.name }}</h3> 
    <div class="date-container">
      <span class="date"> {% for class in title.items %} {{ class.year | replace: "-", "–"  }} <br> {% endfor %} </span>
      <span style="flex: 1"> {{ recentcourse.role }}. {{ recentcourse.roledescription}} </span>
      <span class="right">{{ recentcourse.location }}</span>
    </div>
  </div> {% unless forloop.last %}<br/>{% endunless %}
  {% endfor %}

  <div class="line-container">
    <h2>Organizing</h2>
    <span class="line"></span>
  </div>

  
  <h3 class="pub-type">Conferences & Seminars</h3>

  {% for meeting in site.data.organizing %}
    {% if meeting.type=='Conference' or meeting.type=='Seminar' %}
    {% if meeting.hide==nil %}
      <div class="date-container">
        <span class="date">{{meeting.dates | replace: "-", "–" }}</span>
        <span style="flex: 1">{{ meeting.title}}, <small class="muted"> <em>{{ meeting.location }}</em> </small> </span>
        {% if meeting.url %}
      <div class="extra-links">
        <a href="{{ meeting.url }}"><i class="fas fa-link" aria-hidden="true"></i> Website</a>
      </div>
    {% endif %} 
      </div>
    {% endif %}
    {% endif %}
  {% endfor %}

  <h3 class="pub-type">Reading Groups</h3>

  {% for group in site.data.organizing %}
    {% if group.type=='Reading Group' %}
    {% if group.hide==nil %}
      <div class="date-container">
        <span class="date">{{group.dates | replace: "-", "–" }}</span>
        <span style="flex: 1">{{ group.title }}, <small class="muted"> <em>{{ group.location }}</em> </small> </span>
        {% if group.url %}
      <div class="extra-links">
        <a href="https://johndcobb.github.io{{ group.url }}"><i class="fas fa-link" aria-hidden="true"></i> Website</a>
      </div>
    {% endif %} 
      </div>
    {% endif %}
    {% endif %}
  {% endfor %}


  <div class="line-container">
    <h2>Service & Outreach</h2>
    <span class="line"></span>
  </div>


  {% for service in site.data.service %}
  {% if service.hide==nil %}
  <div class="no-break">
  <h3 style="margin-left: 90px">{{ service.title }} {% if service.at %} at {{ service.at }} {% endif %}</h3>
    <div class="date-container">
      <span class="date">{{service.years | replace: "-", "–" }}</span>
      <span style="flex: 1">{{ service.description }}</span>
      <span class="right">{{ service.location }}</span>
    </div>
  </div>
  {% unless forloop.last %}<br/>{% endunless %}
  {% endif %}
  {% endfor %}

  <div class="line-container">
    <h2>Referee Work</h2>
    <span class="line"></span>
  </div>

  <div>
  {% assign counter = 1 %}
  {% for referee in site.data.referee %}{% if counter != 1 %}, {% endif %}{{ referee.journal }}{% assign counter = counter | plus: 1 %}{% endfor %}
  </div>

  <div class="line-container">
    <h2>Work Experience</h2> 
    <span class="line"></span>
  </div>

  {% for pos in site.data.positions %}
  <div class="no-break">
  <h3 style="margin-left: 90px">{{ pos.title }}{% if pos.company %} at {{pos.company}}{% endif %}</h3>
    <div class="date-container">
      <span class="date">{{ pos.years | replace: "-", "–"  }}</span>
      <span style="flex: 1">{{ pos.description | markdownify }}</span>
      <span class="right">{{ pos.location }}</span>
    </div>
    <p style="margin-left: 90px">
      {% if pos.mentors %}
        Mentor{% if pos.mentors.size > 1 %}s{% endif %}: {% for mentor in pos.mentors %}
          {% include person person=mentor %}{% unless forloop.last %}, {% endunless %}
        {% endfor %}<br/>
      {% endif %}
      {% if pos.skills %}
      <small class="muted">[{% for skill in pos.skills %}{{ skill }}{% unless forloop.last %}, {% endunless %}{% endfor %}]</small>
      {% endif %}
    </p>
  </div> {% unless forloop.last %}<br/>{% endunless %}
  {% endfor %}

  <div class="line-container">
    <h2>Programming</h2>
    <span class="line"></span>
  </div>
  {% for level in site.data.programming %}
  <div>
    <b>{{ level.level }}: </b> {{level.list}}
  </div>
  {% endfor %}

<br> 
</section>
