<footer>
  <div class="container">
    <div class="footer-col">
      <abbr title="Last build on {{site.time | date: '%Y-%m-%d'}}">{{ site.time | date: '%B %Y'}}</abbr>
    </div>
    <div class="footer-col">
      <a href="https://github.com/johndcobb/johndcobb.github.io/edit/master/{{page.path}}">Edit this page</a> </br>
      Thanks to [Dominik Moritz](https://www.domoritz.de/) for developing this template.
    </div>
    <div class="footer-col">
      First year grad student at UW Madison. 
  </div>
</footer>
