{% assign current = page.url | downcase | split: '/' %}
<header class="page-header">
  <nav class="container">
    <a class="site-title" href="{{ absolute_url }}/">{{ site.title }}</a>
    
    <a href="{{ '/teaching/' | relative_url }}" {% if current[1] == 'teaching' %}class="active"{% endif %}>Teaching</a>
	  <a href="{{ '/organization/' | relative_url }}" {% if current[1] == 'organization' %}class="active"{% endif %}>Organization</a>  
    <a href="{{ '/publications/' | relative_url }}" {% if current[1] == 'publications' %}class="active"{% endif %}>Publications</a>
    <a href="{{ '/talks/' | relative_url }}" {% if current[1] == 'talks' %}class="active"{% endif %}>Talks</a>
    <a href="{{ '/cv/' | relative_url}}" {% if current[1] == 'cv' %}class="active"{% endif %}>CV</a>

    <span class="external">
          <a href="https://twitter.com/cobbjd3"><i class="fab fa-twitter"></i> Twitter</a>
          <a href="https://github.com/johndcobb"><i class="fab fa-github"></i> GitHub</a>
    </span>

  </nav>
</header>
