<!DOCTYPE html>
<html lang="en">
  
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-TQY8YHXZNT"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-TQY8YHXZNT');
</script>

  {% include head.html %}
  <body>
    {% assign base_url = page.permalink | relative_url %}
    {% assign current = page.url | downcase | split: '/' %}
    {% assign sections = page.sections | split: ', ' %}
    <header class="page-header">
    <nav class="container">
        {% for section in sections %}
        <a href="{{ section | downcase | replace: ' ', '-' | prepend: '#' | base_url }}">{{ section }}</a> 
        {% endfor %}
        <a></a>

    </nav>
    </header>

    <div class="container {{ page.class }}">
    <main class="page-content">
      {{ content }}
    </main>
    </div>

    <footer></footer>

    {% include scripts.html %}
  </body>
</html>