<!DOCTYPE html>
<html lang="en">
  
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-TQY8YHXZNT"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-TQY8YHXZNT');
</script>

  {% include head.html %}
  <body>
    {% assign current = page.url | downcase | split: '/' %}
    <header class="page-header">
      <nav class="container">
        <a class="site-title">{{ page.title }}</a>
      </nav>
    </header>

    <div class="page-content">
      <div class="container" markdown="1">
        {{ content }}
      </div>
    </div>

    <footer>
    </footer>

    {% include scripts.html %}
  </body>
</html>
